:root{
  --color-primary-white: #FaF4ea;
  --color-primary-black: #31261A;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a28268;
  --color-brand-normal: #cfcfbc;
}

*{
  box-sizing: border-box;
}
/* BAZOVANI RE4I */
body{
  color: var(--color-primary-black);
  background-color: var(--color-primary-white);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
}

.section{
  padding: 48px 0;
}

address{
  font-style: normal;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

.order-button{
  padding: 16px 32px;
  color: var(--color-primary-white);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  line-height: 1.5;
  transition: 0.3s;
}  
.order-button:hover{
  background-color: darkviolet;
}

.link{
  color: var(--color-primary-white);
  text-decoration: none;
}
.link:hover{
  color: var(--color-brand-light);
}

/* Header */

.header-container{
  display: flex;
  background-color: coral;
  gap: 40px;
}

.header-nav{
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-list{
display: flex;
gap: 64px;
flex-grow: 1;
justify-content: center;  
}


/* заголовок */
.hero-section{
  padding: 272px 0px;
  background-image: url(/images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title{ 
  margin-bottom: 0;
  color: var(--color-primary-white);
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent{
  color: var(--color-brand-light)
}
/* advantages section  */

.advantages-section{
  padding: 16px 0;
  background-color: var(--color-brand-light);
}

.advantages-list{
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.advantages-item{
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-white);
}

.section-title{
  color:  var(--color-primary-black);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}


/* traditions section  */
.tradition-section{
  padding-top: 96px;
}

.tradition-container{
  display: flex;
  justify-content: space-between;
 gap: 40px
}

.tradition-content{
  max-width: 710px;
}

.tradition-title{
  margin-bottom: 42px;
}

.tradition-text{
  font-weight: 400;
  margin-bottom: 42px;
}

.tradition-text .brand{
  color: var(--color-brand-light);
  font-weight: 600;
}
.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text.limited{
  max-width: 335px;
}

/* chiefs section  */
.chiefs-title{
  max-width: 520px;
  margin: 0 auto  80px;
}

.chiefs-title::before,
.chiefs-title::after{
  display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '  ';
}


.chef-list{
  display: flex;
  gap: 30px;
}

.chef-item{
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card{
display: flex;
gap: 30px;
}

.chief-title{
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-photo{
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 white, -16px 16px 0 2px var(--color-primary-black);

}



.accent-bdark{
  color: var(--color-brand-dark);
}

/* formats  */

.formats-container{
  display: flex;
  width: 1240px;
  height: 444px;
  align-items: center;
  gap: 32px;
}


.format-item{
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title{
  margin-bottom: 80px;
}

.format-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.format-card{
 
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 444px;
  padding: 24px;
  background-repeat: 16px;
  justify-content: space-between;
  border-radius: 16px;

}

.format-title{
  font-size: 24px;
  font-weight: 600;
}

.format-description{
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

/* carousel*/
.carousel-button{
  display: flex;
  align-items: center;
  justify-content: center;
width: 44px; height: 44px;;
border-radius: 50%;
border: 1px solid var(--color-primary-black);
cursor: pointer;
transition: background-color 0.3s ease;
}

.carousel-icon{
fill: var(--color-primary-dark);
}


.carousel-button:hover{
background-color: var(--color-primary-black);
}

.carousel-button:hover .carousel-icon{
fill: var(--color-brand-normal)
}

/* contact section  */

.contact-section{
  padding-bottom: 96px;
}

.contacts-container-overall{
 display: flex;
 gap: 32px;
}

.container-map{
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}

.contact-title{
  margin-bottom: 16px;
}

/* footer */

.footer{
  padding: 32px 0;
}

.footer-container{
  display: flex;
  gap: 20px;
}
.footer-address,
.footer-nav{
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo{
  flex-grow: 1;
}

.footer-menu{
  flex-grow: 1;
}

.address-menu{
  flex-grow: 1;
}

.address-info{
  flex-grow: 1;
}


.address-link{
  color: var(--color-primary-white);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;
}


.address-icon{
  fill: var(--color-primary-white);
}

.address-link:hover{
  color: var(--color-brand-light);
}

.info-secured{
  color: #A18268;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}


.footer{
  background-image: url(/images/footer-background.png);
  background-color: var(--color-primary-black);
}